.newsfeed-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
   
}

.newsfeed-wrapper {
   
    display: flex;
   flex-direction: column; 
}

p {
    color: white;
}

.card-text {
    color: black;
    display: flex;
    justify-content: space-between;
    
}

.comment-icon {
    transform: scaleX(-1);
}
.send-icon {
transform: rotate(22deg);
};

.bookmark-div {
    display: flex;
    justify-content: flex-end;
  
}


  .profile-image-container img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-image-container {
    margin-bottom: 15px;
  }

  .card-body {
    width: 100%;
    padding: 0px !important;
  }
