.newsfeed-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 10px;
}

.newsfeed-wrapper {
   
    display: flex;
   flex-direction: column; 
}

p {
    color: white;
}