.newsfeed-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: black !important;
  width: 475px;
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  padding: 0px !important;
  margin-bottom: 5px !important;
  font-size: 14px !important;
  padding-left: 5px !important;
}

.card-body {
  padding: 0px !important;
}

.header-image {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}


.header-username {
  padding-left: 12px;
  margin-top: 4px;
}

.interaction-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.first-three-icons {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-bottom: 7px;
}


.likes-username-caption-container {
  display: flex;
  flex-direction: column;
}

.likes-comments-container {
  font-size: 14px;
}

.likes, .username-caption {
  height: 9px;
}


.comment-icon {
  transform: scaleX(-1);
}

.send-icon {
transform: rotate(22deg);
}

.bookmark-div {
  display: flex;
  justify-content: flex-end;
}

.comment-form {
  background-color: black !important ;
  border: 0px !important;
  resize: none !important;
  font-size: 14px !important;
  font-weight: 500 !important; 
}
 
.comment-container {
  border-bottom: 1px rgba(128, 128, 128, 0.339) solid;
}
