.stories-wrapper {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .stories-container img {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }


  .stories-wrapper::-webkit-scrollbar {
    width: 6px;
  }
  
  .stories-wrapper::-webkit-scrollbar-thumb {
    background-color: black;
  }
  
  .stories-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .stories-container {
    display: flex;
    padding-top: 50px;
  }

  .comment-form {
    padding: 0px !important;
  }

  .story-usernames {
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 500;
  }