.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  border-right: 1px rgba(128, 128, 128, 0.339) solid;
  width: 250px;
  padding-left: 25px;
}

.nav-title {
  display: flex;
  align-items: center;
  height: 100px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  margin-top: 12px;
  text-decoration: none;
  color: white;
  gap: 15px;
  align-items: center;
  height: 45px;
  font-weight: 600;
}


.middle-container {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: row;
}
.middle-wrapper {
  height: 100%;
  width: 625px;
  display:flex;
  flex-direction: column;
}

.newsfeed-container {
  display: flex;
  justify-content: center;
}

.icon-name {
  display:flex;
  padding-top: 18px;
}


li:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



@media screen and (max-width: 1500px) {
  .nav-container {
    width: 75px; 
  }
  .icon-name {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .suggestions-element-container {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .nav-container {
    display: none;
  }
}
