.ig-icon {
  margin-bottom: 40px;
}

nav {
  display: flex;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px grey solid;
  color: white;
  padding-right: 10px;
  width: 250px;
}

ul {
  display: flex;
  flex-direction: column;

  list-style-type: none;
  
  
}

li {
  display: flex;
  align-items: center;
 
  margin-bottom: 40px;
  width: 100%;
}

p {
  display: block;
  margin-left: 15px;
}



li:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

@media (max-width: 1280px) {
  nav {
    width: 100px;

  }

  li {
    margin-bottom: 57px;
  }

  p {
    display: none;
  }
}

